.DashboardPageTitle {
	color: lightGreen;
	font-size: 500%;
}

.AddRiddleForm{
	border: solid;
	border-color: lightGreen;
	border-radius: 5px;
	padding-bottom: 5px;
}

.SeperatingBarrierGreen {
	margin-top: 50px;
	padding-top: 20px;
	border-top: solid lightGreen;
}